mainColor = #FDC864
totalWidth = 1200px
rightWidth = 491px
leftWidth = totalWidth - rightWidth
photoHeight = 569px

#top-title
  height 125px
  background-color white
  font-size 80px
  line-height 0
  text-align center
  color mainColor
  padding-top 5px

body
  font-weight 300
  background-color #f2f1f0

#container
  max-width totalWidth
  margin auto

#main-photo-container
  position relative
  height photoHeight

#photo
  position absolute
  height photoHeight

#overlay
  position absolute
  right 0
  height photoHeight
  width rightWidth

#overlay-logo
  position absolute
  left 1.6em
  top 1em
  color white
  font-size 2.6em
  font-weight bold
  letter-spacing: 3px

#prototype
  position absolute
  bottom -120px
  left 0px
  height 432px
  z-index 2

#prototype-description
  position absolute
  bottom 30px
  left 460px
  height 50px

#second-row-container
  position relative
  background-color white
  height 885px
  z-index 1

#sign-up
  position absolute
  right 0
  width rightWidth
  height 635px
  background url('../images/blue.svg')
  background-size cover


#about-prototype
  position absolute
  top 100px
  width leftWidth

#about-prototype-header-background
  position absolute
  height 73px
  width leftWidth

#about-prototype-header
  position absolute
  font-size 49px
  color white
  margin-top -5px
  padding-left 49px

#text
  margin-top 100px
  font-size 18px
  margin-left 56px
  font-weight 400
  color #878787

  p
    line-height 140%

#bottom
  position absolute
  top 280px

#feedback
  position absolute
  margin-top 768px
  font-size 18px
  margin-left auto
  margin-right auto
  width totalWidth
  text-align center
  left 0
  font-weight 600
  color #b2b2b2
  letter-spacing 2px

  a
    color inherit
  a:hover
    color #878787

#chevron
  margin-top 35px
  margin-bottom 20px

p.exclamation
  color white
  line-height 115%
  font-size 39px
  margin-top 27px
